:root {
  --main-color: #ffffff;
  --secondary-color: #70fafa;
  --accent-color: #ffd5c2;
  --background-color: #1d1d1d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--main-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  padding: 20px;
}

h1 {
  font-size: 5rem;
  text-align: center;
  font-family: handwritten;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    var(--secondary-color),
    var(--main-color),
    var(--accent-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  padding: 2px 5px;
  border-radius: 10px;
  border: none;
  transition: all 200ms ease-in-out;
  background: var(--accent-color);

  &:hover {
    cursor: pointer;
    scale: 1.1;
    filter: brightness(75%);
  }

  &:active {
    scale: 0.9;
  }
}
