:root {
  --main-color: #ffffff;
  --secondary-color: #70fafa;
  --accent-color: #ffd5c2;
  --background-color: rgb(29, 29, 29);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--main-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  padding: 20px;
}

h1 {
  font-size: 5rem;
  /* font-size: clamp(100px, 5rem, 500px); */
  /* font-size: clamp(2rem, 50vw, 6rem); */
}

button {
  padding: 2px 5px;
  border-radius: 10px;
  border: none;
  transition: all 200ms ease-in-out;
  background: var(--accent-color);
}

button:hover {
  cursor: pointer;
  scale: 1.1;
  filter: brightness(75%);
}
