.listItem {
  color: var(--secondary-color);
  list-style-type: none;
  width: 100%;

  /* The minmax() function for the middle element (the span) is compressing the first element (the text). Need to mess with minmax so that the white line can stretch the whole way without pushing the other elements. It should only fill the remaining space. */

  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 100%) auto;
  gap: 20px;
  align-items: center;
}

.listItem:nth-child(odd) {
  /* border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 0 0 0 5px; */
}

.listItem:nth-child(odd) > span {
  height: 1px;
  background: var(--main-color);
  border-radius: 10px;
}
